<a href="https://colab.research.google.com/github/Achmad96/information-retrieval/blob/master/IR_boolean_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sentence_one = "I am a cow"
sentence_two = "Cow is what I am"
sentence_three = "Today is Tuesday"

In [ ]:
tokens = []
for word in sentence_one.lower().split():
    if word not in tokens:
        tokens.append(word)

for word in sentence_two.lower().split():
    if word not in tokens:
        tokens.append(word)

for word in sentence_three.lower().split():
    if word not in tokens:
        tokens.append(word)
tokens

['i', 'am', 'a', 'cow', 'is', 'what', 'today', 'tuesday']

In [ ]:
vector_one = []
for token in tokens:
  if token in sentence_one.lower().split():
    vector_one.append(1)
  else: vector_one.append(0)
vector_one

[1, 1, 1, 1, 0, 0, 0, 0]

In [ ]:
vector_two = []
for token in tokens:
  if token in sentence_two.lower().split():
    vector_two.append(1)
  else: vector_two.append(0)
vector_two

[1, 1, 0, 1, 1, 1, 0, 0]

In [ ]:
vector_three = []
for token in tokens:
  if token in sentence_three.lower().split():
    vector_three.append(1)
  else: vector_three.append(0)
vector_three

[0, 0, 0, 0, 1, 0, 1, 1]

In [ ]:
import pandas as pd
df = pd.DataFrame(columns=['tokens', 'sentence_one', 'sentence_two', 'sentence_three'])
df['tokens'] = tokens
df['sentence_one'] = vector_one
df['sentence_two'] = vector_two
df['sentence_three'] = vector_three
df

    tokens  sentence_one  sentence_two  sentence_three
0        i             1             1               0
1       am             1             1               0
2        a             1             0               0
3      cow             1             1               0
4       is             0             1               1
5     what             0             1               0
6    today             0             0               1
7  tuesday             0             0               1

In [ ]:
cow_vector = [1,1,0]
tuesday_vector = [0,0,1]
not_tuesday_vector = [1,1,0]

In [ ]:
result_vector = []
for i in range(len(cow_vector)):
    # For 1 & 1
    if (cow_vector[i] == 1 and not_tuesday_vector[i] == 1):
        result_vector.append(1)
    else:
        result_vector.append(0)
print(f'Final vector post BITWISE AND operator : {result_vector}')

Final vector post BITWISE AND operator : [1, 1, 0]

In [ ]:
import numpy as np
print(np.dot(vector_one, vector_two))
print(np.dot(vector_one, vector_three))
print(np.dot(vector_two, vector_three))

3
0
1

In [ ]:
sorted_tokens = sorted(tokens)

In [ ]:
token_frequency = []
for token in sorted_tokens:
    token_frq = 0
    for word in sentence_one.lower().split():
        if word == token:
            token_frq += 1
    for word in sentence_two.lower().split():
        if word == token:
            token_frq += 1
    for word in sentence_three.lower().split():
        if word == token:
            token_frq += 1
    token_frequency.append(token_frq)

In [ ]:
token_frequency

[1, 2, 2, 2, 2, 1, 1, 1]

In [ ]:
posting_list = []
for token in sorted_tokens:
    p_list = ""
    for word in sentence_one.lower().split():
        if word == token and  "1-->" not in p_list:
            p_list += "1-->"
    for word in sentence_two.lower().split():
        if word == token and  "2-->" not in p_list:
            p_list += "2-->"
    for word in sentence_three.lower().split():
        if word == token and  "3-->" not in p_list:
            p_list += "3-->"
    posting_list.append(p_list[:-3])
posting_list

['1', '1-->2', '1-->2', '1-->2', '2-->3', '3', '3', '2']

In [ ]:
posting_list_df = pd.DataFrame(columns = ['words','term_frequency','posting_list'])

In [ ]:
posting_list_df['words'] = sorted_tokens
posting_list_df['term_frequency'] = token_frequency
posting_list_df['posting_list'] = posting_list
posting_list_df

     words  term_frequency posting_list
0        a               1            1
1       am               2        1-->2
2      cow               2        1-->2
3        i               2        1-->2
4       is               2        2-->3
5    today               1            3
6  tuesday               1            3
7     what               1            2

In [ ]:
input_search = input("Enter the search string : ")
filter_from_posting_list = []
for token in input_search.split():
    filter_from_posting_list.append(posting_list_df[posting_list_df.words == token]['posting_list'].item())
filter_from_posting_list

Enter the search string : cow

['1-->2']

In [ ]:
searched_list = []
for x in filter_from_posting_list:
    for y in x.split(' -->'):
        if y is not '':
            searched_list.append(y)
print(f'Documents which are retrived based on the input strings are - {set(sorted(searched_list))}')

Documents which are retrived based on the input strings are - {'1-->2'}

<>:4: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
/tmp/ipython-input-1771824434.py:4: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
  if y is not '':